<% layout("/layouts/Boilerplate") %>


<body>

    <h3> All Listings</h3>

    <form method="get" action="/listings/new">
        <button> Create New Listing</button>
    </form>
    <ul>
        <% for(let listings of allListings){ %>
            <li> <a href="/listings/<%=listings._id%>"><%= listings.title %></a></li>
       <% } %>
    </ul>

</body>
